<form [formGroup]="entityNoteform" (ngSubmit)="Submit()">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="txtname">
            Name:
        </label>
        <div class="col-sm-8">
            <input type="text" id="txtname" formControlName="name" class="form-control-sm" />
        </div>
        <div class="form-text text-muted col-sm-4"
            *ngIf="entityNoteform.controls['name'].invalid && entityNoteform.controls['name'].touched"
            class="alert alert-danger">
            Name is required.
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="txtdob">
            Date Of Birth:
        </label>
        <div class="col-sm-10">
            <input type="date" id="txtdob" formControlName="dateofbirth" class="form-control-sm">
        </div>
    </div>
    <div class="form-group row">
        <label for="txtage" class="col-sm-2 col-form-label">
            Age:
        </label>
        <div class="col-sm-10">
            <input type="text" id="txtage" formControlName="age" class="form-control-sm" />
        </div>
        <div *ngIf="entityNoteform.controls['age'].invalid && entityNoteform.controls['age'].touched"
            class="alert alert-danger">
            age is required.
        </div>
    </div>
    <div class="form-group row">
        <label for="txtaddr" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" id="txtaddr" formControlName="address" class="form-control-sm" />
        </div>
    </div>
    <button>Submit</button>
</form>